@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--color_nav);
    width: 100%;
    height: 3rem;
    padding: 0 1rem;
    display: grid;
    align-content: center;
    border-radius: 1.25rem 1.25rem 0 0;
    transition: 0.5s;
  }

  .nav__link {
    color: var(--color_first);
  }

  .active-link {
    position: relative;
    color: var(--color-three);
    transition: 0.3s;
  }

}

@media screen and (min-width: 1100px) {
  .sec1 {
    font-size: 29px;
  }

  .perfil-img {
    width: 350px;
  }
  .perfil {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
  }

  .perfil-3 {
    text-align: left;
  }
  .text-description {
    padding-left: 0;
  }

  .cargo {
    margin: 0;
    width: 120%;
    border-radius: 0;
  }
  .cargo-box {
    width: 120%;
    border-radius: 0;
    background: rgb(77, 79, 78);
    background: linear-gradient(
      90deg,
      rgba(77, 79, 78, 1) 0%,
      rgba(0, 212, 255, 0) 100%
    );
    padding-left: 5px;
    border-bottom-left-radius: 10px;
  }

  .perfil-img {
    margin-top: -50px;
  }
}

/*PARA DISPOSITIVOS MEDIOS*/
@media screen AND (min-width: 576px) {
  .nav__list {
    justify-content: center;
    align-items: center;
    column-gap: 50px;
  }

  .i {
    display: none;
  }
}

/*responsive cards*/

@media screen and (min-width: 1000px) {

  .container2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 90px;
  }
  .card {
    position: relative;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 270px;
    background-color: red;
    font-size: 0.8em;
  }

  .card:hover .imgBx {
    width: 170px;
    height: 100px;
    left: -70px;
    top: calc(60% - 80px);
  }

  .content h3,
  .content p,
  .content a {
    text-align: start;
    margin-bottom: 20px;
    
  
  }

  .imgBx {
    top: 0;
    left: 0;
    position: absolute;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: 0.5s ease-in-out;
    z-index: 3;
    overflow: hidden;
    border-radius: 9px !important;
  }

  .content {
    position: absolute;
    right: 0;
    width: calc(100% - 90px);
    height: 100%;
    padding: 30px;
    color: black;
    margin-top: 90px;
  }

  .imgBx img {
    width: 100%;
  }
}

@media screen and (min-width: 1450px) {
 
  .container2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 90px;
    padding: 12em;
  }
}

/*SECTION 2*/
