/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

/*variables colores*/

:root {
  --color_nav: #c8c7c7;
  --color_icons: #2f2d2c;
  --color_indic: #ecc4a4;
  --color_border_ind: #242c24;

  /*COLORES SECCION1*/
  --color_background: #2a2b2d;
  --color_font_one: #e0beb0;
  --color_font_two: #dcaa92;
  --color_font_three: #c9aa94;
  --color_link_hover: #899094;
  --color_link: #9e8474;
  /*COLORES GENERALES*/
  --color_first: #4d4f4e;
  --color-two: #4d4f4e;
  --color-three: #635454;

  /*INDEX*/
  --zindex-1: 1;
  --zindex-2: 2;
  --zindex-3: 3;
  --zindex-0: 0;
}

::-webkit-scrollbar {
  display: none;
}

/*particles*/
#particles-js {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: var(--zindex-1);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--color_background);
  color: var(--text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* img {
  max-width: 100%;
  height: auto;
} */

/*=============== REUSABLE CSS CLASSES ===============*/

/*=============== HOME ===============*/
.main {
  height: 100vh;
  width: 100vw;
}
.sec1 {
  background-color: var(--color_background);
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.name {
  margin-bottom: 0.6em;
  font-size: 1.5em;

  color: var(--color_font_one);
}

.perfil {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column-reverse;
  z-index: var(--zindex-2);
}

.perfil-img {
  border-radius: 50%;
  margin-bottom: 1em;
  box-shadow: 0px 2px 16px -3px rgba(0, 0, 0, 0.75);
}

.cargo {
  margin-top: 10px;
  font-size: 0.8em;
  text-transform: uppercase;
  color: var(--color_font_two);
}

.text-description {
  margin-top: 1em;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 0.6em;
  color: var(--color_font_three);
}

.media ul li {
  display: inline-flex;
  font-size: 1.4em;
  margin: 10px 20px;
  list-style: none;
}
.link:hover {
  color: var(--color_link_hover);
}

.link {
  color: var(--color_link);
}

.cargo-box {
  background-color: var(--color_first);
  width: 70%;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  margin: auto;
}

/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  box-shadow: -1px 20px 20px -11px rgba(0, 0, 0, 0.39);
  z-index: 30;
  transition: 0.5s;
}

/*=============== NAV ===============*/
.nav {
  height: 4em;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}

.nav__img {
  width: 35px;
  border-radius: 50%;
}

.nav__logo {
  font-size: 30px;
  text-transform: uppercase;
  color: var(--color_indic);
  font-weight: 600;
}

.nav__list,
.nav__link {
  display: flex;
}

.nav__link {
  flex-direction: column;
  align-items: center;
  row-gap: 0.25px;
  color: var(--color_indic);
  font-weight: 600;
}

.nav__list {
  justify-content: space-around;
  font-size: 0.8em;
}

.nav__name {
  font-size: var(--tiny-font-size);
  /* display: none;*/ /* Minimalist design, hidden labels */
}

.nav__icon {
  font-size: 1.5rem;
}

/*Active link*/
.active-link {
  color: var(--color_nav);
  transition: 0.3s;
}

/*ABOUT...............................*/

.about {
  display: flex;
  font-size: 13px;
  justify-content: center;
  align-items: center;
  color: wheat;
  background-color: var(--color_background);
  font-family: "Poppins", sans-serif;
}

.aboutme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: var(--zindex-2);
  width: 80%;
}

.datas {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.titleme {
  position: relative;
  width: 230px;
  margin: auto;
}
.titleme::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto -8px auto;
  height: 4px;
  width: 40%;
  background-color: var(--color_font_one);
}

/*PORTAFOLIO...............................*/

.portf {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color_background);
  font-family: "Poppins", sans-serif;
  height: auto;
}

.h2 {
  position: relative;
  color: var(--color_font_three);
  text-transform: uppercase;
  font-weight: bold;
  z-index: var(--zindex-2);
  margin-top: 80px;
}

.h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4px;
  width: 50%;
  margin: auto;
  text-align: center;
  background-color: var(--color_nav);
  margin-bottom: -8px;
}

/*CARDS*/

.container2 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  padding-top: 3em;
  padding-bottom: 4em;
  z-index: var(--zindex-2);
}

.card {
  position: relative;
  flex-direction: column;
  display: flex;
  border-radius: 9px;
  width: 250px;
  background-color: var(--color_indic) !important;
  font-size: 11px;
  height: 350px;
  box-shadow: 0px 3px 16px 0px var(--color_background);
}

.imgBx {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 3;
  overflow: hidden;
  width: 100%;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}
.imgBx img {
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 20px;
  text-align: center;
  font-weight: bold;
}

.content h3 {
  font-size: 1.6em;
  text-transform: uppercase;
}
.content p {
  margin-bottom: 30px;
  color: var(--color_border_ind);
  font-weight: bold;
  font-size: 1.2em;
}

.content a {
  color: var(--color_border_ind);

  position: relative;
  background-color: var(--color_link);
  border-radius: 5px;
  padding: 7px;
  cursor: pointer;
}

.content a:hover {
  color: var(--color_first);
}

/* .box {

  background-color: ;
  border-radius: 6px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 6px;
  width: 100px;
  cursor: pointer;
 
 
} */
